@import '../utility/colors.scss';


.query-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .query-info {
        // height: 12%;
        margin: 20px;
        display: flex;
        align-items: center;

        .query-info-text {
            font-size: 16px;
            font-weight: 500;
        }
    }

    .query-form {
        margin-left: 30px;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
        align-items: flex-start;
         height: 10%;
        .textarea {
            width: 100%;
        }
    }

    .button-actions {
        display: flex;
        justify-content: space-between;

        .button-container{
            color: white !important;
            background-color: #3f51b5;
        }
    }

    

    .answer-container {
        .answer-card {
            margin-top: 10px;
            font-size: 15px;
            font-weight: 500;
        }
    }

    .container {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-bottom: 20px;
    }
}

