<div class="query-container">
    <div class="query-info">
        <mat-icon class="query-icon" color="primary">
            help_outline
        </mat-icon>
        &nbsp;
        <div class="query-info-text">
            You can ask any queries you have on the uploaded concept
        </div>
    </div>
    <div class="query-form">
        <mat-form-field appearance="outline" class="textarea">
            <mat-label>Any Query?</mat-label>
            <textarea matInput [(ngModel)]="query" placeholder="Please ask any queries you have regarding this concept"></textarea>
        </mat-form-field>
    </div>
    <div class="container">
        <div class="button-actions">
            <div class="button-container">
                <button mat-flat-button color="primary" [disabled]="disableAnswerBtn" (click)="onSubmit()"> Answer </button>
            </div>
            <div class="button-container">
                <button mat-flat-button mat-dialog-close color="primary" (click)="close()"> Close </button>
            </div>
        </div>
        <div class="answer-container" *ngIf="answer">
            <mat-card class="answer-card">
               {{answer}}
            </mat-card>
        </div>
    </div>
</div>


