<div class="questions-container-2">
    <div *ngIf="!question_length" class="questions-not-found">
        Questions Not Found, Try generating with different content.
    </div>
    <div *ngIf="question_length" class="question">
        <div class="question-info">
            <div class="question-info-text"> 
                Question {{ current_question_id }} of {{ question_length }}  
                <mat-divider class="mat-divider-question">
                </mat-divider></div>
        </div>
        <div class="question-text">
            <p>
                {{ current_question.questionText }}
            </p>
        </div>
        <div class="options-list">
                <!-- <mat-card  *ngFor="let i of current_question.options" [ngClass]="{'option-tile':true,'correct-option-tile': i.optionId === current_question.correctOption && current_question.isSubmitted}">
                    <div class="option-id">
                        {{capitalizeString(i.optionId)}}.
                    </div>
                    <div class="option-value">
                        {{capitalizeString(i.optionValue)}}
                    </div>
                </mat-card> -->
                <ul class="list-items">
                    <li  class="list-item" *ngFor="let option of current_question.options; let i = index">
                        <label>
                            <input type="radio" [(ngModel)]="userAnswers[current_question.id]" name="question_{{current_question.id}}" [value]="option.optionId"
                                (change)="selectOption(current_question.id, option.optionId)">
                            {{ capitalizeString(option.optionValue) }}
                        </label>
                    </li>
                </ul>
        </div>  
            <div *ngIf="userAnswers[current_question.id]">
                Correct Answer : {{ capitalizeString(current_question.answer) }} .
            </div>
        <div class="question-actions">
            <button mat-flat-button color="primary" class="question-action-button" (click)="navigateToPrevQuestion()" [disabled]="disable_prev_btn">
                Prev
            </button>
            <button mat-flat-button color="primary" class="question-action-button" (click)="navigateToNextQuestion()" [disabled]="disable_next_btn">
                Next
            </button>
        </div>
        <mat-divider class="mat-divider-question"></mat-divider>
        <div class="feedback-centre">
            <app-feedback-form [feedback]="current_question_feedback" (saveFeedback)="saveFeedback($event)" >
            </app-feedback-form>
        </div>
    </div>
</div>