<div *ngIf="generatingQuestions" class="loader-container">
    <ngx-spinner bdColor = "rgba(0,0,0,0)" size = "large" color="#673ab7" type = "square-jelly-box" [fullScreen] = "false">
        <div class="loader-title"> Generating Questions, Please Wait... </div>
    </ngx-spinner>
</div>

<div *ngIf="showInstructions && !generatingQuestions" class="instructions-container">

    <div class="instructions-title">Instructions</div>
    <div class="instructions-subtitle">
        <p>
            Welcome to our application! Follow these steps to generate question from content:
        </p>
    </div>
    <div class="instructions-body">
        <mat-list class="instruction-list">
            <mat-list-item class="instruction"><span>Step 1:</span> &nbsp; Load/Type the text in the provided text
                editor (min 1000 characters).</mat-list-item>
            <mat-list-item class="instruction"><span>Step 2:</span> &nbsp; Click on the generate questions button
                available at the bottom of the left <section>
                </section> to load the questions.</mat-list-item>
            <mat-list-item class="instruction"><span>Step 3:</span> &nbsp; Wait for the questions to be loaded.</mat-list-item>
            <mat-list-item class="instruction"><span>Step 4:</span> &nbsp; Please answer all the questions</mat-list-item>
            <mat-list-item class="instruction"><span>Step 5:</span> &nbsp; You can leave a feedback on each question </mat-list-item>
            <mat-list-item class="instruction"><span>Step 6:</span> &nbsp; You can ask any questions on the current content </mat-list-item>
        </mat-list>
    </div>
    <div class="instructions-footer">
        <p>Thank you for using our application!</p>
    </div>
</div>