.instructions-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: auto 60px;    

    .instructions-title {
        font-size: 32px;
        font-weight: 600;
        text-align: start;
    }

    .instructions-subtitle {
        margin-top: 30px;
        font-size: 20px;
        font-weight: 500;
    }
    
    .instructions-body {
        .instruction {
            span {
                font-weight: 600;
                font-size: 16px;
            }
        }
    }

    .instructions-footer {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
    }
}