@import '../utility/colors.scss';

.nav-toolbar {
    width: 100%;
    height: 8%;
    
    .navigation-container {
        width: inherit;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    
    
        .title-text {
            font-size: 18px;
            font-weight: 400;
        }
    
        .title-Spacer {
            margin: 2cqh;
        }
    
        .navigation-actions {
    
            button {
                font-size: 16px;
                font-weight: 300;
            }
    
            .active-nav-item {
                color: $accent;
                font-weight: 500;
            }
        }
    }
}

