<mat-toolbar color="primary" class="nav-toolbar">
    <div class="navigation-container">
        <img class="img-icon" src="../../assets/data/UWorldGlobeLogo.png" alt="Uworld - Your Favourite learning Company">
        <span class="Title-text">
            Author Assistant
        </span>
        <span class="title-Spacer">
        </span>
        <!-- <span class="navigation-actions">
            <a mat-button color="link" routerLink="/" routerLinkActive="active-nav-item">Playground</a> 
        </span>    -->
    </div>
</mat-toolbar>