<mat-toolbar color="primary" class="nav-toolbar">
    <div class="navigation-container">
        <span class="Title-text">
            AdminApp - 101
        </span>
        <span class="title-Spacer">
        </span>
        <span class="navigation-actions">
            <a mat-button color="link" routerLink="/playground" routerLinkActive="active-nav-item">Playground</a> 
            &nbsp; 
            <a mat-button color="link" routerLink="/history" routerLinkActive="active-nav-item">History</a>  
        </span>   
    </div>
</mat-toolbar>